<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nettydome.nettydemo.Dao.DtuDao">
    <select id="selectAll" resultType="Dtu">
        select * from dtu
    </select>

    <select id="selectOneByIp" parameterType="String" resultType="dtu">
        select * from dtu where dtuip=#{dtuIp}
    </select>

    <insert id="insertIp" parameterType="dtu">
        insert into dtu(dtuid,dtumac) values (#{dtuId},#{dtuMac})
    </insert>

    <update id="undateIp" parameterType="dtu">
        update dtu set dtuip=#{dtuIp} where dtuid=#{dtuId}
    </update>
</mapper>